@import 'bootstrap/dist/css/bootstrap';


.alert{
  margin-top:2%;

}

.alert-heading{
  font-size: 15px;
  font-weight: 600;
}

.log-form{
  margin-top:3%;
}


.search-title{

  margin-top: 5%;
}

.no-right-padding{
padding-right: 0px;
}

.no-left-padding{
  padding-left: 0px;
}

.result-block{
  display: inline-block;
  margin-bottom: 15px;
}


.logout-btn{
  padding-right: 15px;
}

.add-button{
margin-left: 10px;
}

.user-name{
  margin-top: 3.5%;
  padding-right: 15px;
}